@model IEnumerable<Product>
@{
    ViewData["Title"] = "Articulos";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <div class="articles pl-4">

        @foreach (var product in Model)
        {
            <div class="card">

                <div>
                    <a href="#!">
                        <img class="img-fluid" style="min-height: 394px;" src="~/images/@product.ImageURL"
                        alt="@product.Name">
                    </a>
                </div>

                <div class="card-body text-center">

                    <h5>@product.Name</h5>
                    <p class="small text-muted text-uppercase mb-2">@product.Description</p>
                    <hr>
                    <h6 class="mb-3">
                        <span class="text-danger mr-1">@product.Price</span>
                    </h6>

                    <button type="button" class="btn btn-primary btn-sm mr-1 mb-2">
                        <i class="fas fa-shopping-cart pr-2"></i>Añadir al carrito
                    </button>
                    <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
                        <i class="fas fa-info-circle pr-2"></i>Detalles
                    </button>

                </div>

            </div>
        }
    </div>
</div>
